.DFrame{
    margin-top: 10%;
    margin-left: 25%;
    margin-bottom: 10%;
    justify-content: center;
    margin-right: 25%;
    border: 2px solid darkgrey;
    border-radius: 10%;
    box-shadow: 0px 0px 8px 8px rgb(180, 179, 179);
}

.b1:hover{
    background-color: green;
}





